* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: beige;
  background-color: black;
}

#logo img {
  border-radius: 0.5em;
}

@media screen and (max-width: 600px) {
  #logo img {
    width: 65px;
  }
}

a {
  color: beige;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 1em;
}

figcaption {
  padding-left: 1em;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1em 1em 0 1em;
}

.menu{
  position: fixed;
  top: 10%;
  left: 0;
  background-color: black;
  padding: 1em;
  transition: width 5s ease;
  min-width: 80vw;
  min-height: 100vh;
  z-index: 3;
}

.barMenu > img:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #555;
}

/* ... */

.recent-release-header,
.popular-ongoing-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fa8131;
}

.recent-release-header p,
.popular-ongoing-header p {
  font-size: 1.3em;
  padding-left: 1em;
}

.recent-release-header ul,
.popular-ongoing-header ul {
  display: flex;
}

.recent-release-header ul li,
.popular-ongoing-header ul li {
  padding: 0.2em 1em 0 0;
}

.recent-release-header ul li a:hover,
.popular-ongoing-header ul li a:hover {
  color: black;
  
}

/* Recent Release */

.recent-release {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.recent-release a {
  padding-bottom: 1em;
}

.recent-release a:hover {
  color: black;
  background-color: #fa8131;
}

/* Popular Ongoing */

.popular-ongoing-update {
  display: flex;
  flex-flow: column nowrap;
  padding: 1.3em;
}

.popular-ongoing-update > div {
  display: flex;
  padding-bottom: 1em;
}

.popular-ongoing-update div div {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em 0 0 1em;
}

.popular-ongoing-update p {
  padding-bottom: 0.5em;
}
/* ... */

.recent-added-header p,
.ads p,
.ongoing-series-header p,
.genres-header p {
  border: 1px solid #fa8131;
  padding: 0.5em;
  margin: 0 1em 1em 1em;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.recent-added,
.ongoing-series,
.genres {
  padding: 0 1em 1em 1em;
  margin: 0 1em;
}

.recent-added p,
.ongoing-series p,
.genres p {
  padding-bottom: 0.5em;
}

/* ... */

.footer {
  display: flex;
  justify-content: space-around;
}

.footer ul {
  display: flex;
  justify-content: space-evenly;
}

.footer ul > li {
  padding-right: 1.5em;
}

.footer p {
  padding: 0 0.5em;
}